body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 20px;
    background-color: #218838;
    background: url(./img/mercado.jpg);
    background-size: cover;


}



.foto {

    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;




}



.container {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: gray;
    background-size: contain;





}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    
}

td{
    color: white;
}

th {
    background-color: #f2f2f2;
}


.input-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    
}

.add-btn,
.clear-btn,.download-btn {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.add-btn:hover {
    background-color: #218838;
}

.clear-btn {
    background-color: #dc3545;
}

.clear-btn:hover {
    background-color: #c82333;
}

/* Responsivo para Celulares iphone*/




/*Comando para Download*/

.download-btn {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

.download-btn:hover {
    background-color: #0056b3;
}

/*alinhar os botoes*/

.caixa{
    display: flex;
    gap: 10px;
}

@media (max-width: 740px) {

    .container {
        width: 80%;
        max-width: 600px;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: gray;

    }


    th,
    td {
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        font-size: 10px;
        border: none;

    }
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    padding-left: 5px;
    font-size: 12px;
}

.input-group {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    
}

.add-btn,
.clear-btn,.download-btn {
   padding: 8px;
    background-color: #28a745;
    font-size: 12px;
          
}

.clear-btn{
    background-color: #dc3545;
}

.download-btn{
    background-color: #007bff;
}

@media (max-width: 667px) {

    .add-btn,
.clear-btn,.download-btn {
   padding: 8px;
    background-color: #28a745;
    font-size: 11px;
          
}

.clear-btn{
    background-color: #dc3545;
}

.download-btn{
    background-color: #007bff;
}

}

